@import "/node_modules/vuetify/src/styles/settings/_variables.scss";
@function get-breakpoints($key: "md") {
  @if $key!= "" {
    @return map-get($grid-breakpoints, $key);
  } @else {
    @return 0px;
  }
}
//$main-color: #0d4960;
$main-color: #155a75;
$bg-color: #f4fbfd;
// @media (min-width: 960px) {
//   .container {
//     max-width: 900px;
//   }
// }
// @media (min-width: 1264px) {
//   .container {
//     max-width: 1185px;
//   }
// }
@media (min-width: 1904px) {
  .container {
    max-width: 1385px;
  }
}
